{% extends 'registration/registration_base.html' %}


{% block title %}
    Create Account
{% endblock title %}
    

{% block registration_content %}

<div class="card border-secondary mb-3">
    <div class="card-header">
        <h1>
            Create Account
        </h1>
    </div>
    <div class="card-body">
        <div class="px-2">
            {% include 'registration/snippets/form.html' with form=form btn_value="Create Account"%}
        </div>

    </div>
</div>
{% endblock registration_content %}
