{% extends 'book/book_base.html' %}


{% block title %}
Authors List
{% endblock title %}


{% block book_content %}

<div class='container my-5'>
    <table class="table">
        <thead>
            <tr class="table">
                <th scope="col">No</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Born</th>
                <th scope="col">Died</th>
                <th scope="col">Written Books</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for author in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="">
                        {{ author.first_name}}
                    </a>
                </td>
                <td>
                    {{ author.last_name}}
                </td>
                <td>
                    {{ author.born }}
                </td>
                <td>
                    
                    {% if not author.died %}
                        -
                    {% else %}
                    {{ author.died }}
                    {% endif %}
                        
                </td>
                <td>
                    {{ author.books.count }}
                </td>

                <td>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-info">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock book_content %}
