{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Books List
{% endblock title %}


{% block content %}

<div class='container my-5' id="js-book-list-body">

    <div class="row my-5">
        <div class="col-6">
            <h1>Book List</h1>
            
            {% if request.GET.q %}
            search result for <strong>{{ request.GET.q }}</strong> <small> (( {{object_list.count}} )) </small>
            {% endif %}
                
        </div>
        <form class="col-6">
            <div class="form-group">
                <div class="form-group">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Search...." name="q" {% if request.GET.q %} value="{{ request.GET.q }}" {% endif %}>
                        <div class="input-group-append">
                            <button type="submit" class="input-group-text">
                                <i class="fas fa-search fa-lg"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    {% if object_list %}

    <table class="table">
        <thead>
            <tr class="table">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Author</th>
                <th scope="col">Category</th>
                <th scope="col">Amount</th>
                <th scope="col">Price</th>
                <th scope="col">Status</th>
                <th scope="col">Shelf</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for book in object_list %}
            <tr data-id="{{ book.pk }}">
                <td>
                    {{ book.pk }}
                </td>
                <td>
                    <a href="">
                        {{ book.name|truncatechars:'30' }}
                    </a>
                </td>
                <td>

                    {% for author in book.author.all %}
                    <a href="">
                        {{ author }}
                    </a>
                    {% if not forloop.last %}
                    ,&nbsp;
                    {% endif %}

                    {% endfor %}
                </td>
                <td>
                    <a href="">
                        {{ book.category}}
                    </a>
                </td>
                <td>
                    {{ book.amount}}
                </td>
                <td>
                    {{ book.price}}
                </td>
                <td>

                    {% if book.available %}
                    <i class="fas fa-check text-success"></i>
                    {% else %}

                    <i class="fas fa-times text-danger"></i>
                    {% endif %}

                </td>
                <td>
                    <a href="">
                        {{ book.shelf}}
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal" id='js-delete-{{book.pk}}' data-id={{ book.pk }} data-action="{% url 'book:book-delete' pk=book.pk%}">
                        <i class="fas fa-trash-alt"></i>
                    </button>

                    &nbsp;
                    <a href="{% url 'book:book-update' slug=book.slug %}" class="text-white">
                        <button class="btn btn-info">
                            <i class="fas fa-pencil-alt"></i>
                        </button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_paginated %}
        {% include 'snippets/pagination.html' with page_obj=page_obj %}
    {% endif %}

    {% else %}


        {% if request.GET.q %}

            <div class="row">
                <div class="col-12 text-center text-muted h2">
                    Not found search result for <strong>{{ request.GET.q}}</strong>
                </div>
            </div>

        {% endif %}

    {% endif %}
</div>


<div class="modal" id="deleteConfirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm book delete operation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <form id='js-ajax-delete-form' method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    Are you sure you want to delete this book ?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>

    let delete_buttons = $('button').filter('[id^=js-delete]');

    let trs = $('tbody').children('tr');

    delete_buttons.click(function () {

        let pk = $(this).data('id');

        let row_to_delete = trs.filter(`[data-id^=${pk}]`)

        let url = $(this).data('action');

        let cleanded_cols = $(row_to_delete).children('td').slice(0, row_to_delete.length - 3);

        let book_name_col = $(cleanded_cols[1]).children('a');

        let form = $('#js-ajax-delete-form');

        console.log(form)

        console.log(url)

        console.log(row_to_delete)

        $(form).on('submit', function (event) {
            event.preventDefault();
            console.log("Deleteing data")
            console.log(row_to_delete)
            $.ajax({
                method: "POST",
                url: url,
                data: $(this).serialize(),
                success: (data) => {
                    let message = `<div class="alert alert-dismissible alert-success">
                        <div>
                                        <strong>Success ! </strong> ${data.message}.
                        <span id="js-updated-message">

                                        </span>
                                    </div>
                                    <button type="button" class="close mt-1" data-dismiss="alert">
                                        <small aria-hidden="true" class="text-danger">
                                            &times;
                        </small>
                                    </button>
                    </div>`;

                    row_to_delete.detach();

                    $('#js-book-list-body').prepend(message)

                    $("#deleteConfirmModal").modal('hide');

                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            });

        });

    });
</script>
{% endblock javascript %}
