{% extends 'book/book_base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Category List
{% endblock title %}


{% block book_content %}

<div class='container my-5'  id="js-category-list-body">
    <table class="table">
        <thead>
            <tr class="table">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Books</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
            <tr data-id="{{ category.pk }}">
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="">
                        {{ category.name}}
                    </a>
                </td>
                <td>

                    {{ category.books.count }}

                </td>
                <td>
                    {{ category.created_at }}
                </td>
                <td>
                    {{ category.updated_at }}
                </td>
                <td>
                    <button class="btn btn-danger" data-toggle="modal" data-target="#deleteConfirmModal" id='js-delete-{{category.pk}}' data-id={{ category.pk }} data-action="{% url 'book:category-delete' pk=category.pk%}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-info" data-toggle="modal" data-target="#updateObjectModal" id='js-update-{{category.pk}}' data-id={{ category.pk }} data-action="{% url 'book:category-update' pk=category.pk%}">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="modal" id="updateObjectModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Update category Info</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <form id='js-ajax-update-form' method="POST">
                <div class="modal-body">
                    {% csrf_token %}
                    {{ category_update_form|crispy }}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="deleteConfirmModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm category delete operation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <form id='js-ajax-delete-form' method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    Are you sure you want to delete this category ?
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock book_content %}


{% block javascript %}
<script>

    let update_buttons = $('button').filter('[id^=js-update]');

    let delete_buttons = $('button').filter('[id^=js-delete]');

    let trs = $('tbody').children('tr');

    delete_buttons.click(function () {

        let pk = $(this).data('id');

        let row_to_delete = trs.filter(`[data-id^=${pk}]`)

        let url = $(this).data('action');

        let cleanded_cols = $(row_to_delete).children('td').slice(0, row_to_delete.length - 3);

        let shelf_name_col = $(cleanded_cols[1]).children('a');

        let form = $('#js-ajax-delete-form');

        console.log(form)

        console.log(url)

        console.log(row_to_delete)

        $(form).on('submit', function (event) {
            event.preventDefault();
            console.log("Deleteing data")
            console.log(row_to_delete)
            $.ajax({
                method: "POST",
                url: url,
                data: $(this).serialize(),
                success: (data) => {
                    let message = `<div class="alert alert-dismissible alert-success">
                        <div>
                                        <strong>Success ! </strong> ${data.message}.
                        <span id="js-updated-message">

                                        </span>
                                    </div>
                                    <button type="button" class="close mt-1" data-dismiss="alert">
                                        <small aria-hidden="true" class="text-danger">
                                            &times;
                        </small>
                                    </button>
                    </div>`;

                    row_to_delete.detach();

                    $('#js-category-list-body').prepend(message)

                    $("#deleteConfirmModal").modal('hide');

                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            });

        });

    });


    update_buttons.click(function () {

        let pk = $(this).data('id');

        let row_to_update = trs.filter(`[data-id^=${pk}]`)

        let url = $(this).data('action')

        let cleanded_cols = $(row_to_update).children('td').slice(0, row_to_update.length - 3);

        let shelf_name_col = $(cleanded_cols[1]).children('a');

        let shelf_updated_time_col = $(cleanded_cols[4]);

        let shelf_name = shelf_name_col.html().trim();

        let form = $('#js-ajax-update-form');

        $('#id_name').val(shelf_name);

        console.log(url)

        $(form).on('submit', function (event) {
            event.preventDefault();
            console.log("Submitting data");
            console.log($(this).serialize())
            $.ajax({
                method: "POST",
                url: url,
                data: $(this).serialize(),
                success: (data) => {
                    let updated_name = data.name;
                    let updated_date = data.updated;
                    shelf_name_col.html(updated_name)
                    shelf_updated_time_col.html(updated_date)
                    let message = `<div class="alert alert-dismissible alert-success">
                        <div>
                                        <strong>Success</strong> ! You successfully updated ${shelf_name} to ${updated_name}.
                        <span id="js-updated-message">

                                        </span>
                                    </div>
                                    <button type="button" class="close mt-1" data-dismiss="alert">
                                        <small aria-hidden="true" class="text-danger">
                                            &times;
                        </small>
                                    </button>
                    </div>`;

                    $('#js-category-list-body').prepend(message)

                },
                error: (jqXHR, textStatus, errorThrown) => {
                    console.log(jqXHR)
                    console.log(textStatus)
                    console.log(errorThrown)
                }
            });
            $("#updateObjectModal").modal('hide');
        });

    });

</script>
{% endblock javascript %}
