{% extends 'book/book_base.html' %}


{% block title %}
Dashboard
{% endblock title %}


{% block book_content %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Listed Books</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-archive display-1"></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>
                            {{ book_count }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Issued Books</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-book display-1"></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>93</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Returned Books</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-recycle display-1"></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>93</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Members</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-users display-1 "></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>93</strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Authors</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-user display-1"></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>
                            {{ author_count }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header text-center">Categories</h3>
                <div class="text-center mt-4">
                    <i class="fas fa-list display-1"></i>
                </div>
                <div class="card-body mt-4">
                    <div class="text-center h1">
                        <strong>
                            {{ category_count }}
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock book_content %}
