{% extends 'book/book_base.html' %}


{% block title %}
Shelfs List
{% endblock title %}


{% block book_content %}

<div class='container my-5'>
    <table class="table">
        <thead>
            <tr class="table">
                <th scope="col">No</th>
                <th scope="col">Name</th>
                <th scope="col">Books</th>
                <th scope="col">Created</th>
                <th scope="col">Updated</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for shelf in object_list %}
            <tr>
                <td>
                    {{ forloop.counter }}
                </td>
                <td>
                    <a href="">
                        {{ shelf.name|truncatechars:'30' }}
                    </a>
                </td>
                <td>
                    {{ shelf.books.count }}
                </td>
                <td>
                    {{ shelf.created_at }}
                </td>
                <td>
                    {{ shelf.updated_at }}
                </td>
                <td>

                    {% if shelf.active %}
                    <i class="fas fa-check text-success"></i>
                    {% else %}

                    <i class="fas fa-times text-danger"></i>
                    {% endif %}

                </td>
                <td>
                    <button class="btn btn-danger">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    &nbsp;
                    <button class="btn btn-info">
                        <i class="fas fa-pencil-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock book_content %}
